@import url("https://fonts.googleapis.com/css2?family=Jost&family=Jura&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  font-family: "Jost", sans-serif;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  text-align: center;
  /* line-height: 20px; */
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #e67d48;
}

.swiper-button-disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
